@page
@model QLThuoc.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Doctris - Doctor Appointment Booking System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/images/favicon.ico.png">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.min.css" rel="stylesheet" type="text/css" id="theme-opt" />
</head>

<body>
    <section class="bg-home d-flex bg-light align-items-center" style="background: url('~/images/bg/bg-lines-one.png') center;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-8">
                    <img src="~/images/logo-dark.png" height="24" class="mx-auto d-block" alt="">
                    <div class="card login-page bg-white shadow mt-4 rounded border-0">
                        <div class="card-body">
                            <h4 class="text-center">Sign In</h4>

                            <form method="post">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Your Email <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" placeholder="Username" asp-for="Input.Username" required />
                                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">Password <span class="text-danger">*</span></label>
                                            <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password" required />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary">Sign in</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Hiển thị lỗi -->
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="text-center mt-3">
                                <p class="mb-0"><small class="text-dark me-2">Don't have an account?</small> <a href="/Account/Register" class="text-dark fw-bold">Sign Up</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/app.js"></script>
</body>
</html>
